.activity-card {
  background-color: var(--Background-components);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  height: 373px;
  padding: 10px;
  border: var(--black-100) solid 1px;
}

.card-container-fluid {
  width: 335px !important;
}

/* .card-height-reservation {
  height: 310px !important;
} */

.card-height-reservation {
  max-height: 380px !important;
  margin-top: 25px;
}

.card-height-reservation .activity-image-container {
  height: 65% !important;
}

.booking-state {
  color: var(--Blue-300-L-yellow-D);
}

.booking-state.cancel {
  color: var(--color-error);
}

.booking-details-card  {
  color: var(--Icons-gray);
  display: flex;
  justify-content: space-between;
}

.booking-details-card p,.booking-details-card span {
  display: flex;
 align-items: center;
 gap: 4px;
 font-size: 0.9rem;
}

.activity-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-md);
}

.activity-image-container {
  width: 100%;
  height: 55%;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 16px;
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-content {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.activity-title-ca {
  font-family: var(--font-archivo);
  font-size: 16px;
  font-weight: 600;
  color: var(--Font-Background);
  margin: 0;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100%;
}

.activity-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.activity-location-card,
.activity-duration {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Icons-gray);
  font-size: 14px;
}
.location-paragraph {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.activity-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 8px !important;
}

.activity-price {
  font-family: var(--font-archivo);
  font-size: 28px;
  font-weight: 600;
  color: var(--Font-Background);
}

.activity-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffc107;
  font-weight: 500;
  font-size: 16px;
}

/* Para los iconos */
.activity-location svg,
.activity-duration svg,
.activity-rating svg {
  width: 16px;
  height: 16px;
}

.activity-image-container {
  position: relative;
}

.container_card_category {
  position: absolute;
  display: flex;
  right: 15px;
  z-index: 999;
  gap: 5px;
  bottom: 10px;
}

.card-category {
  background: var(--yellow-base);
  color: black;
  padding: 5px 15px;
  border-radius: 30px;
  font-family: var(--font-outfit);
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}


@media (max-width: 1280px) {
  .card-height-reservation {
    margin: 25px 25px 0 25px;
  }
  
}

@media (max-width: 960px) {
  .card-height-reservation {
    margin: 25px 15px 0 0px;
  }


}

@media (max-width: 870px) {
  .card-height-reservation {
    margin: 25px 8px 0 8px;
  }
  .card-container-fluid {
    width: 300px !important;
  }
  
  .card-container-fluid {
    width: 280px !important;
  }

}

