@import "../global/variables.css";

.help-center-title {
  color: var(--black-base);
  font-family: Archivo;
  font-size: 28px;
}
.help-center-title.dark {
  color: var(--yellow-base);
}

.sidebar-policies {
  background-color: var(--Background-components);
  border-radius: 1rem;
  color: var(--Font-Background);
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  row-gap: 20px;
  width: 320px;
}
.sidebar-policies.dark {
  background-color: var(--black-700);
  color: var(--black-100);
}
.accordion {
  color: var(--blue-base);
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.accordion.dark {
  color: var(--Font-Background);
}
.accordion-item {
  background-color: var(--BackgroundColor);
  color: var(--black-400);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 4px 10px;
}
.accordion-item.dark {
  color: var(--Font-Background);
  border-radius: 0.8rem;
}
h5 {
  color: var(--black-400);
  font-size: var(--h5-size);
}
h5.dark {
  color: var(--Font-Background);
}

.title-selected {
  color: var(--blue-base);
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  align-items: center;
}

.sub-accordion {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
a:link,
a:visited {
  color: var(--black-400);
}

a:hover,
a:focus {
  color: var(--blue-hover);
}
a.dark,
a.dark:link,
a.dark:visited {
  color: var(--Font-Background);
}
a.dark:hover,
a.dark:focus {
  color: var(--blue-hover);
}

.selected-policy {
  color: var(--blue-base);
  font-weight: bold;
}
.selected-policy.dark {
  background-color: var(--black-400);
  color: var(--Font-Background);
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  margin-left: 10px;
}

.caret.down {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #333 transparent;
}

.accordion-item h5 {
  cursor: pointer;
}

.accordion-item h5 .caret {
  transition: transform 0.2s ease-in-out;
}

.accordion-item h5 .caret.down {
  transform: rotate(180deg);
}
