/* Importación de las dos fuentes a utilizar */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* Colores principales */
  --blue-base: #3e10da;
  --blue-hover: #3209c0;
  --white: #ffffff;
  --black: #101828;
  --blue-700: #5e38e0;
  --yellow-base: #f1c40f;
  --yellow-700: #a1830a;

  /* Fuentes */
  --font-outfit: "Outfit", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  /* Tamaños de fuentes */
  --h6-size: 1rem;
}
button,
.button {
  border: none;
  cursor: pointer;
  font-family: var(--font-outfit);
}

.button {
  font-size: var(--h6-size);
  height: 43px;
  width: 91px;
  border-radius: 72px;
  padding: 10px 20px;
  transition: background-color 200ms ease, color 200ms ease;
}

.button-blue {
  background-color: var(--blue-base);
  color: var(--white);
}

.button-blue:hover {
  background-color: var(--blue-700);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.button-transparent {
  background-color: transparent;
  color: var(--black);
}

button.light i {
  cursor: pointer;
}

.button-yellow {
  background-color: var(--yellow-base);
  color: var(--black);
  padding: 9px 20px;
}
.button-yellow:hover {
  background-color: var(--yellow-700);
}
.btn-preview,
.btn-save {
  padding: 9px 20px;
  height: 43px;
  width: 197px;
}

.btn-blue-disabled{
  background-color: var(--blue-300);
  color: var(--white);
}

.btn-yellow-disabled{
  background-color: var(--yellow-300);
  color: var(--black);
}