.policies-container {
  background-color: var(--Background-components);
  color: var(--Font-Background);
  display: flex;
  flex-direction: column;
}

.search-container {
  border: solid 1px var(--black-100);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  padding: 6px 10px;
}

input.input-search {
  border: none;
  padding: 6px 10px;
  width: 100%;
}

input.input-search.dark {
  background-color: var(--black-400);
  color: var(--white);
}

input.input-search:focus,
input.input-search:active {
  border: none;
  outline: none;
}

.anchor a:link,
.anchor a:visited {
  color: var(--black-400);
}

.anchor a:hover,
.anchor a:focus {
  color: var(--blue-hover);
}

.anchor a.dark,
.anchor a.dark:link,
.anchor a.dark:visited {
  color: var(--Font-Background);
}

.anchor a.dark:hover,
.anchor a.dark:focus {
  color: var(--yellow-base);
  font-weight: bold;
  ;
}
