
.swal2-popup {
    border-radius: 20px !important; 
  }

  .swal2-dark {
    border-radius: 20px !important; 
    background-color: var(--black-400);
    color: var(--white) ;
  }
  
  

  .custom-button, .swal2-cancel {
    border-radius: 25px !important; 
    padding: 10px 20px;
    width: 145px !important;
  }
  
 .custom-button{
    background-color: var(--blue-base);
    color: var(--white);
 }
  .swal2-cancel {
    background-color: var(--yellow-base);
    color: var(--black);
  }
