.dashboard-main {
  padding: 20px;
  font-family: var(--font-outfit);
  color: var(--Font-Background);
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stat-card {
  display: flex;
  align-items: center;
  width: 272px;
  height: 147px;
  background-color: var(--Background-components);
  border-radius: 40px;
  border: 1px solid var(--Icons-gray);
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 25px;
  gap: 29px;
  color: var(--Font-Background);
}

.stat-icon {
  width: 40px;
  height: 40px;
}

.stat-info {
  display: flex;
  flex-direction: column;
}

.stat-info h3 {
  margin: 0;
  font-size: 16px;
}

.stat-info p {
  margin: 0;
  font-size: 36px;
  color: var(--Font-Background);
}

/* Tabla de actividades */
.activities {
  margin-top: 30px;
}

.activities h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid var(--Icons-gray);
  padding: 10px;
  text-align: left;
}

.activity-cell {
  display: flex;
  align-items: center;
}

.activity-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Estilos para Mobile */
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat-card {
    width: 100%;
  }

  .activities table {
    font-size: 14px;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3E10DA;
    width: 387px;
    height: 147px;
    border-radius: 20px;
    border: 1px solid #BFAFF3;
    padding: 0 30px;
    gap: 5px;
    text-align: center;
    margin-top: 20px;
  }

  .info-card p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: justify;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}

/* Ocultar info-card en Desktop */
@media (min-width: 769px) {
  .info-card {
    display: none;
  }
}

