.user-bookings-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 40px ;
  width: min(90%, 1142px);
}

.user-booking-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
 
}
.card-act{
    margin: 15px;
}

@media (max-width: 768px) {
  .user-booking-grid{
gap: 14px;
  }

}