@import url('../global/variables.css');

.myBooking-Container{
  background: var(--BackgroundColor);
  width: 100%;
  height: 100%;
  margin: 0;
}
.bookingDetail-container {
    padding-top: 120px  !important;
    padding-bottom: 80px !important;
    width: min(90%, 1142px);
    margin: auto;

    color: var(--Font-Background);

  }

  .bookingDetail-tittle-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .bookingDetail-status {
    color: var(--Blue-300-L-yellow-D);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .bookingDetail-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .bookingDetail-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .bookingDetail-image {
    width: 580px;
    max-height: 350px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .bookingDetail-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .user-booking-loading{
    background-color: var(--BackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    color: var(--Font-Background);
  }

  .bookingDetail-info-contact , .bookingDetail-info-contact  button{
    margin:20px 0px;
  }
  
  .info-slots strong{
    padding: 0 4px;
    
  }

  
  .cancellation-policy {
    margin-top: 15px;
    padding-top: 10px;
  }

  .cancellation-policy p{
    padding-top: 15px;
  }
  

  .cancel-btn {
    margin-top: 15px;
    background-color: var(--Font-Background);
    color: var(--BackgroundColor);
  }

  .cancel-btn:disabled {
    background-color: var(--Font-Background);
    color: var(--BackgroundColor);
    opacity: 0.5;
  }

  .cancel-btn:hover {
    background-color: var(--Font-Background);
    color: var(--BackgroundColor);
    opacity: 0.5;
  }

  .copy-code{
    cursor: pointer;
  }

  .custom-tooltip-booking{
    background-color: var(--black-300) !important; /* Azul oscuro */
  }

  @media (max-width: 800px) {
    .bookingDetail-content{
      flex-direction: column;
      width: min(100%, 700px);
      align-items: start;
    }
    .bookingDetail-image {
      width: min(100%, 700px);
    }
  }

  @media (max-width: 480px) {
    .bookingDetail-content{
      max-width: 100%;
    }
    .myBooking-Container{
      max-width: 480px;
    }

    .bookingDetail-image {
      max-width: 100%;
    }
  }
  