button,
.button {
  border: none;
  cursor: pointer;
}
.button {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  height: 43px;
  width: 91px;
  border-radius: 72px;
  border: none;
  transition: background-color 300ms ease, color 300ms ease;
}

.button-blue {
  background-color: var(--blue-base);
  color: white;
}

.button-blue:hover {
  background-color: var(--blue-70);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.button-transparent {
  background-color: transparent;
}
button.light i {
  cursor: pointer;
}
