.button-blue {
  background-color: var(
    --blue-base
  ); /* color azul similar al de Tailwind blue-500 */
  color: white;
  font-size: var(--h6-size);
  font-weight: bold;
  height: 43px;
  width: 91px;
  border-radius: 72px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.button-blue:hover {
  background-color: var(--blue-70);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
