.boton-blue {
  background-color: #3E10DA; /* Nuevo color principal */
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.boton-blue:hover {
  background-color: #3109B0; /* Versión más oscura del color principal */
}

.boton-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(62, 16, 218, 0.5); /* Ajustado al nuevo color */
}