:root {
  --clock-size: 0.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fue necesario agregar el box-sizing:border-box, para el tamaño preciso de la caja del elemento, sería mejor agregar la regla al variables.css */

.container-hours {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 330px;
}

.time-inputs {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.time-input {
  position: relative;
  width: 79px;
  height: 55px;
  border: 1px solid var(--gray-200);
  background: none;
  font-size: var(--clock-size);
  cursor: pointer;
  padding: 1rem;
}

.time-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.time-input::-webkit-datetime-edit,
.time-input::-webkit-inner-spin-button,
.time-input::-webkit-clear-button {
  display: none;
}