@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /*Fuentes  */
  --font_Archivo: "Archivo";
  --font_Outfit: "Outfit";
  --font_Berlin: "Berlin Sans FB Demi";
  /* Berlin aún pendiente*/

  /*Para títulos: */
  /* Para h1 */
  --h1-size: 2.5rem;
  --h1-weight: 700;
  /* Peso de la fuente para h1 */

  /* Para h2 */
  --h2-size: 2rem;
  --h2-weight: 600;
  /* Peso de la fuente para h2 */

  /* Para h3 */
  --h3-size: 1.75rem;
  --h3-weight: 500;
  /* Peso de la fuente para h3 */

  /* Para h4 */
  --h4-size: 1.5rem;
  --h4-weight: 500;
  /* Peso de la fuente para h4 */

  /* Para h5 */
  --h5-size: 1.25rem;
  --h5-weight: 400;
  /* Peso de la fuente para h5 */

  /* Para h6 */
  --h6-size: 1rem;
  --h6-weight: 700;
  /* Peso de la fuente para h6 */

  /* Colores BG para botones */
  --color-error: #d61b1b;
  --color-sucess: #12c618;
  --color-white: #ffffff;

  /* Tonalidades de Blue-500 */
  --blue-10: #bfaff3;
  --blue-20: #9f88ed;
  --blue-30: #7e60e6;
  --blue-40: #5e38e0;
  /* blue-base es el blue-500 */
  --blue-base: #3e10da;
  --blue-60: #340db6;
  --blue-70: #5e38e0;
  --blue-80: #1f086d;
  --blue-90: #150549;

  /* Tonalidades de Yellow */
  --yellow-10: #faebaf;
  --yellow-20: #f8e287;
  --yellow-30: #f6d85f;
  --yellow-40: #f3ce37;
  /* yellow-base es el yellow-500 */
  --yellow-base: #f1c40f;
  --yellow-60: #c9a30d;
  --yellow-70: #a1830a;
  --yellow-80: #796208;
  --yellow-90: #504105;

  /* Tonalidades de Black */
  --black-10: #afb2b7;
  --black-20: #888c94;
  --black-30: #606570;
  --black-40: #383f4c;
  /* black-base es el black-500 */
  --black-base: #101828;
  --black-60: #0d1421;
  --black-70: #0b101b;
  --black-80: #080c14;
  --black-90: #05080d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font_Outfit);
  font-size: var(--h6-size);
  justify-content: center;
}

.navigation {
  /* Estilos comunes para el componente navegación */
  background-color: var(--color-white);
  border-radius: 60px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font_Outfit);
  font-size: var(--h6-size);
  font-weight: normal;
  padding: 15px 45px;
  height: 73px;
  width: 1142px;
  position: relative;
  top: 36px;
  left: 68px
}

button {
  border-radius: 72px;
  border: none;
}

.leftContainer,
.rightContainer {
  align-items: center;

  display: flex;
  column-gap: 16px;
  justify-content: space-evenly;
}


/* Sección para mediaqueries */

/* XXL Media querie >= 1320px */
@media screen and (min-width: 1320px) {

  /* fijar reglas */
  h1 {
    margin: 20px auto;
  }

  .panel-components {
    margin: 0 auto;
    width: 1300px;
  }
}

/* XL Media Querie >= 1200px */
@media screen and (min-width: 1200px) {

  /* fijar reglas */
  .panel-components {
    margin: 0 auto;
    width: 1140px;
  }
}

/* Medium Media Querie >= 768px */
@media screen and (min-width: 768px) {

  /* fijar reglas */
  .panel-components {
    margin: 0 auto;
    width: 720px;
  }
}

/* IPhone 16 Pro max Querie <= 390px */
@media screen and (max-width: 390px) {

  /* fijar reglas */
  .panel-components {
    margin: 0 auto;
    width: 380px;
  }
}