/* Importación de las dos fuentes a utilizar */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* Colores principales */
  --blue-base: #3e10da;
  --blue-hover: #3209c0;
  --white: #ffffff;
  --black: #101828;

  /* Colores BG para botones */
  --color-error: #d61b1b;
  --color-sucess: #12c618;

  /* --> reemplazar uso de white en los otros archivos <-- */

  /* Paleta de colores para los 3 colores base */
  /* Tonalidades de Blue-500 */
  --blue-100: #bfaff3;
  --blue-200: #9f88ed;
  --blue-300: #7e60e6;
  --blue-400: #5e38e0;
  /* blue-base es el blue-500 */
  --blue-600: #340db6;
  --blue-700: #5e38e0;
  --blue-800: #1f086d;
  --blue-900: #150549;

  /* Tonalidades de Yellow */
  --yellow-100: #faebaf;
  --yellow-200: #f8e287;
  --yellow-300: #f6d85f;
  --yellow-400: #f3ce37;
  /* yellow-base es el yellow-500 */
  --yellow-base: #f1c40f;
  --yellow-600: #c9a30d;
  --yellow-700: #a1830a;
  --yellow-800: #796208;
  --yellow-900: #504105;

  /* Tonalidades de Black */
  --black-100: #afb2b7;
  --black-200: #888c94;
  --black-300: #606570;
  --black-400: #383f4c;
  /* black es el black-500 */
  --black-600: #0d1421;
  --black-700: #0b101b;
  --black-800: #080c14;
  --black-900: #05080d;

  /* Variables para títulos: */
  /* Para h1 */
  --h1-size: 2.5rem;
  --h1-weight: 700;
  /* Peso de la fuente para h1 */

  /* Para h2 */
  --h2-size: 2rem;
  --h2-weight: 600;
  /* Peso de la fuente para h2 */

  /* Para h3 */
  --h3-size: 1.75rem;
  --h3-weight: 500;
  /* Peso de la fuente para h3 */

  /* Para h4 */
  --h4-size: 1.5rem;
  --h4-weight: 500;
  /* Peso de la fuente para h4 */

  /* Para h5 */
  --h5-size: 1.25rem;
  --h5-weight: 400;
  /* Peso de la fuente para h5 */

  /* Para h6 */
  --h6-size: 1rem;
  --h6-weight: 700;
  /* Peso de la fuente para h6 */

  /* Fuentes */
  --font-outfit: "Outfit", sans-serif;
  --font-archivo: "Archivo", sans-serif;
}
